/notebooks/Sistemas de ecuaciones lineales/.ipynb_checkpoints/Gauss-Seidel-checkpoint.ipynb
/notebooks/Optimización funciones unimodales/Con restricciones/.ipynb_checkpoints/Sección de oro-checkpoint.ipynb
